.accordion {
  padding: 70px 20px;
}

.accordion__container {
  width: clamp(250px, 100%, 1230px);
  margin: 0 auto;
  border-bottom: 2px solid $acc-border;
}

.accordion__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: $dark-green;
  margin-bottom: 30px;
}

.accordion__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  border-top: 2px solid $acc-border;
}

.accordion__head:hover {
  background-color: darken($white, $amount: 2);
}

.accordion__head-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: $brown;
}

.accordion__body {
  max-height: 0px;
  padding-right: 42px;
  overflow: hidden;
  transition: max-height $dropdown-duration ease-out;
}

.accordion__desc {
  line-height: 28px;
}

.accordion__desc:nth-child(1) {
  padding-top: 15px;
  margin-bottom: 27px;
}

.accordion__orange {
  color: $red;
  font-weight: bold;
}

.accordion__orange:hover {
  color: lighten($red, $amount: 10);
}
