.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 215px;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__dropdown {
  position: relative;
}

.header__links-box {
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  gap: 30px;
  border-radius: 10px;
  padding: 40px 65px;
  z-index: 99;
}

.header__links-box::before {
  content: "";
  position: absolute;
  top: -30px;
  border: 11px solid transparent;
  border-bottom: 19px solid $white;
}

.header__link,
.header__dropdown-button {
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  color: $black;
  text-decoration: none;
  white-space: nowrap;
  padding: 70px 15px 69px 15px;
  cursor: pointer;
}

.header__link:hover,
.header__dropdown-button:hover {
  background-color: $silver;
}

.header__dropdown:hover .header__links-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__mini-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: $black;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.header__mini-link:hover {
  color: $brown;
}

.header__button-search {
  padding-right: 20px;
}

.overlay {
  background-color: $white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 215px;

  &.hidden {
    display: none;
  }
}

.overlay__button-close {
  position: absolute;
  top: 20px;
  right: 30px;
}

.overlay__icon-close {
  font-size: 23px;
  color: $brown;
}

.overlay__input-search-box {
  width: 100%;
  display: flex;
  border-bottom: 2px solid $acc-border;
}

.overlay__input,
.overlay__input::placeholder {
  font-family: $epilogue-family;
  font-size: 35px;
  font-weight: 400;
  line-height: 36px;
  color: $brown;
}

.overlay__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 30px;
}
