.slider {
  background-color: $silver;
  padding: 70px 20px;

  @include breakpoint($tablet) {
    padding: 50px 20px;
  }
}

.slider__container {
  width: clamp(250px, 100%, 1230px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.slider__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: $dark-green;

  @include breakpoint($tablet) {
    font-size: 30px;
    line-height: 40px;
  }
}

.slide-box {
  display: flex;
  gap: 70px;
  overflow: hidden;

  @include breakpoint($tablet) {
    gap: 28px;
  }
}

.slide {
  transition: transform 0.3s;
}

.slide__image {
  width: 580px;
  height: 350px;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;

  @include breakpoint($tablet) {
    width: 350px;
    height: auto;
    border-radius: 15px;
  }
}

.slide__title {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  color: $red;
  margin-bottom: 20px;
}

.slide__desc {
  max-width: 580px;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 20px;
  color: $brown;

  @include breakpoint($tablet) {
    font-size: 22px;
    line-height: 30px;
  }
}

.slide__date {
  line-height: 16px;
}

.slider__arrows {
  display: flex;
  gap: 10px;
}
